$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'theme';
@import 'board';
@import 'nav';
@import 'computer-play';
@import 'sign-in';

* {
  margin: 0 auto;
}

a {
  color: $orange;
  font-weight: bold;
}

.back-to {
  cursor: pointer;
}

body {
  background-color: $off-white;
  font-family: 'Cabin Sketch', helvetica;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button {
  background-color: $off-white;
  border: 2px solid $darker-blue;
  color: $darker-blue;
  &:hover {
    outline: 2px solid $orange;
  }
}

h1 {
  color: $off-white;
  font-size: 65px;
  margin: 10px 0;
}

h2 {
  margin: 10px;
}

h3 {
  margin: 5px;
}

input {
  margin: 5px;
}

@media (max-width: 1200px) {
  .side-title {
    margin-left: -587px;
    transform: rotate(90deg);
  }

  .square {
    font-size: 60px;
    height: 80px;
    line-height: 80px;
    width: 80px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
