$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Cabin+Sketch';

$off-white: #ececea;
$lighter-blue: #74afad;
$darker-blue: #558c89;
$orange: #ffa500;
$black: #000;

* {
  margin: 0 auto;
}

a {
  color: $orange;
  font-weight: bold;
}

.back-to {
  cursor: pointer;
}

body {
  background-color: $off-white;
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
}

button {
  background-color: $off-white;
  border: 2px solid $darker-blue;
  color:$darker-blue;
  &:hover {
    outline: 2px solid $orange;
  }
}

.credit {
  font-size: 12px;
}

.display-name {
  display: inline-block;
  float: left;
}

.game-container {
  background-color: $lighter-blue;
  border-left: 3px solid $black;
  border-right: 3px solid $black;
  height: 100vh;
  max-width: 800px;
  min-height: 800px;
  padding: 10px;
}

.game-board-wrap {
  display: inline-block;
  margin: 15px auto;
}

h1 {
  color: $off-white;
  font-size: 65px;
  margin: 10px 0;
}

h2 {
  margin: 10px;
}

h3 {
  margin: 5px;
}

input {
  margin: 5px;
}

.log {
  background: transparent;
  border: 0;
  color: $orange;
  outline: 0;
}

nav {
  font-family: helvetica;
  max-width: 800px;
  padding-right: 25px;
  text-align: right;
}

.sign-btn {
  border: 0;
  font-size: 35px;
}

.sign-in-container {
  margin-top: 25vh;
}

.sign-in-text {
  margin: 0;
  margin-bottom: -5px;
}

.sign-in-title {
  color: $darker-blue;
}

.sign-in-up {
  width: 50%;
  min-width: 200px;
  max-width: 400px;
}

.sq-zero {
  border-bottom: 3px solid $darker-blue;
  border-right: 3px solid $darker-blue;
}

.sq-one {
  border: 3px solid $darker-blue;
  border-top: 0;
}

.sq-two {
  border-bottom: 3px solid $darker-blue;
  border-left: 3px solid $darker-blue;
}

.sq-three {
  border: 3px solid $darker-blue;
  border-left: 0;
  clear: left;
}

.sq-four {
  border: 3px solid $darker-blue;
}

.sq-five {
  border: 3px solid $darker-blue;
  border-right: 0;
}

.sq-six {
  border-right: 3px solid $darker-blue;
  border-top: 3px solid $darker-blue;
  clear: left;
}

.sq-seven {
  border: 3px solid $darker-blue;
  border-bottom: 0;
}

.sq-eight {
  border-left: 3px solid $darker-blue;
  border-top: 3px solid $darker-blue;
}

.square {
  float: left;
  font-size: 80px;
  height: 100px;
  line-height: 100px;
  margin: 15;
  width: 100px;
}

.symbol {
  border: 3px solid $darker-blue;
  font-size: 50px;
  height: 60px;
  line-height: 60px;
  width: 60px;
}

.top {
  display: inline-block;
  margin-bottom: 25px;
  min-width: 112px;
  width: 20%;
}
