.game-id {
  display: inline-block;
}

nav {
  font-family: helvetica;
  font-weight: bold;
  max-width: 800px;
  padding-right: 25px;
  text-align: right;
}

.player-history {
  color: $orange;
}

.modal-body {
  font-family: helvetica;
}
